@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Bootstrap Accordion</title>

    <link href="~/Content/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h1 class="panel-title">Country Music</h1>
        </div>
        <div class="panel-body">
            <p>
                Country music is a genre of American popular music that originated
                in Southern United States, in Atlanta, Georgia in the 1920s. it takes
                its roots from the southeastern genre of American Folk music and Western music.
            </p>
        </div>
        <div class="panel-footer">
            <button class="btn btn-primary">
                More information...
            </button>
        </div>
    </div>
</body>
</html>
<script src="~/Scripts/jquery-2.1.3.js"></script>
<script src="~/Scripts/bootstrap.js"></script>